{% extends "base.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="row w-100 justify-content-center"
    style="background-color: rgba(255, 255, 255, 0.85); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="col-md-6 col-lg-4 mt-3 p-4 text-center border rounded">
            <h3 class="mb-3">{% trans "Sign Out" %}</h3>
            <p>{% trans 'Are you sure you want to sign out?' %}</p>
            {% url 'account_logout' as action_url %}
            <form method="post" action="{{ action_url }}">
                {% csrf_token %}
                {{ redirect_field }}
                <button class="btn btn-primary w-100 mt-3" type="submit">{% trans "Sign Out" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}