{% extends "base.html" %}
{% extends "account/base_entrance.html" %}
{% load i18n allauth %}

{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="row w-100 justify-content-center"
    style="background-color: rgba(255, 255, 255, 0.85); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="col-md-8 col-lg-6 mt-3 p-4 text-center border rounded">
            <h3 class="mb-3">{% trans "Set Password" %}</h3>

            {% element h1 %}
                {% trans "Set Password" %}
            {% endelement %}

            {% url 'account_set_password' as action_url %}
            {% element form method="post" action=action_url %}
                {% slot body %}
                    {% csrf_token %}
                    {{ redirect_field }}
                    {% element fields form=form %}
                    {% endelement %}
                {% endslot %}

                {% slot actions %}
                    {% element button type="submit" name="action" %}
                        {% trans 'Set Password' %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        </div>
    </div>
</div>
{% endblock content %}