{% extends "base.html" %}

{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="row w-100 justify-content-center"
    style="background-color: rgba(255, 255, 255, 0.85); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="col-md-8 col-lg-6 mt-3 p-4 text-center border rounded">
            <h3 class="mb-3">{% trans "Password Reset" %}</h3>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>{% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
            
            <a href="{% url 'account_login' %}" class="btn btn-primary mt-3">
                {% trans "Back to Login" %}
            </a>
        </div>
    </div>
</div>
{% endblock content %}
