{% extends "base.html" %}
{% load static %}
{% load allauth i18n crispy_forms_tags %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center min-vh-100 py-5">
    <div class="row w-100 justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="bg-light p-4 text-center border rounded shadow-sm" style="max-height: 500px; overflow-y: auto;">
                <h4 class="mb-3">{% trans "Sign Up" %}</h4>

                <p>
                    {% blocktrans %}
                    Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
                    {% endblocktrans %}
                </p>

                {% if not SOCIALACCOUNT_ONLY %}
                    <form method="post" action="{% url 'account_signup' %}" class="signup-form">
                        {% csrf_token %}
                        {{ redirect_field }}
                        {{ form|crispy }}
                        
                        <button type="submit" class="btn btn-primary w-100 py-2 my-2">
                            {% trans "Sign Up" %}
                        </button>
                    </form>
                {% endif %}

                {% if PASSKEY_SIGNUP_ENABLED %}
                    <hr>
                    <a href="{{ signup_by_passkey_url }}" class="btn btn-outline-primary w-100 my-2">
                        {% trans "Sign up using a passkey" %}
                    </a>
                {% endif %}

                {% if SOCIALACCOUNT_ENABLED %}
                    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}