{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Verify Your Email Address" %}
{% endblock head_title %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="row w-100 justify-content-center"
    style="background-color: rgba(255, 255, 255, 0.85); box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="col-md-8 col-lg-6 mt-3 p-4 text-center border rounded">
            <h3 class="mb-3">{% trans "Verify Your Email Address" %}</h3>
            
            {% element h1 %}
                {% trans "Verify Your Email Address" %}
            {% endelement %}

            {% element p %}
                {% blocktrans %}
                    This part of the site requires us to verify that you are who you claim to be. For this purpose, we require that you verify ownership of your email address.
                {% endblocktrans %}
            {% endelement %}

            {% element p %}
                {% blocktrans %}
                    We have sent an email to you for verification. Please click on the link inside that email. If you do not see the verification email in your main inbox, check your spam folder. Otherwise, contact us if you do not receive it within a few minutes.
                {% endblocktrans %}
            {% endelement %}

            {% element p %}
                {% blocktrans %}
                    <strong>Note:</strong> You can still <a href="{{ email_url }}">change your email address</a>.
                {% endblocktrans %}
            {% endelement %}
        </div>
    </div>
</div>
{% endblock content %}