/* Remove any background image from the body */
body {
    background-image: none !important;
  }

  /* Container for main content, adjusting the margin-top */
.container {
    margin-top: 180px;
   }

footer {
    height:8vh;
    text-align: center;
   }

/* Order history container with slight transparency, padding, and shadow */
.order-history {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the order table */
.order-table {
    background-color: #f8f9fa;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-top: 10px;
}

/* Table headers and cells */
.order-table th,
.order-table td {
    padding: 12px;
    border: 1px solid #dee2e6;
    vertical-align: middle;
    text-align: center;
}

.order-table th {
    background-color: #047bf3;
    color: white;
}

.order-row {
    background-color: #ffffff;
    transition: background-color 0.3s;
}

.order-row:hover {
    background-color: #e9ecef;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Styling for the form controls in the profile update form */
#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}